<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transaction number:</strong>
    <%= transaction.transaction_number %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= transaction.quantity %>
  </p>

  <p>
    <strong>Total cost:</strong>
    <%= transaction.total_cost %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= transaction.product_id %>
  </p>

  <p>
    <strong>Credit card:</strong>
    <%= transaction.credit_card_id %>
  </p>

</div>
